@import '../../styles/themes';
@import'../../../../assets/css/common.css';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}
nb-layout-header.fixed {
  position: fixed;
  top: 22px !important;
  left: 0;
  right: 0;
  z-index: 1040;
}

nb-layout-header.tophead {
  line-height: 0.25rem;
}
