<nb-card>
  

  <nb-card-body>

    <div class="row">
  
      <div class="col-xxl-12">
        <div class="row">
          <!-- <div class="col-md-6">
            <ngx-profit-card></ngx-profit-card>
          </div> -->
          <div class="col-md-12" style="margin-top: 15px;">
            <nb-card-header  style="border: unset;color: white;" >Events</nb-card-header>
            <hr>
            <ngx-event-list></ngx-event-list>
          </div>
          <div class="col-md-12" >
            <ngx-service-list> </ngx-service-list>
          </div>
        </div>
        </div>
    </div>
          <!-- <div class="col-md-4">
              <ngx-schedule-for-nextx-days></ngx-schedule-for-nextx-days>
          </div> -->
          <!-- <div class="col-md-4">
            <ngx-service-list></ngx-service-list>
          </div> -->
          <!-- <div class="col-md-6">
            <ngx-earning-card></ngx-earning-card>
          </div> -->
        
       

    <!-- <label>SDST is your temple. Please donate generously any amount to serve you better. Use the following links to Donate using PayPal. </label><br/><br/>
    <a nbButton style="background-color: transparent;margin-bottom:10px; border: 0px;cursor: pointer; font-weight: bold;"><span >Ayyappa Pooja  </span></a>
    
    <button  (click)="opendonationpage('Ayyappa Pooja')" nbButton status="warning" type="button" class="btn btn-default">Donate Now</button>
    
    <br/>   

    <a nbButton style="background-color: transparent;margin-bottom:10px; border: 0px;cursor: pointer; font-weight: bold;"><span>Annadanam</span></a>
    
    <button (click)="opendonationpage('Annadanam')" nbButton status="warning" type="button" class="btn btn-default">Donate Now</button>
        
    
    <br/>



    <a nbButton style="background-color: transparent; border: 0px;cursor: pointer; font-weight: bold;"><span>Venkateswara Kalyanam</span></a>
    
    <button  (click)="opendonationpage('Venkateswara Kalyanam')"  nbButton status="warning" type="button" class="btn btn-default">Donate Now</button>    <br/>
    <a nbButton style="background-color: transparent; border: 0px;margin-bottom:10px;cursor: pointer; font-weight: bold;"><span> General Donation</span></a>
   
    <button (click)="opendonationpage('General Donation')"  nbButton status="warning" type="button" class="btn btn-default">Donate Now</button>
    <br/><br/>

    <p>If you want to donate using check, please write the check to 'Sri Datta Sai Temple' or 'SDST' and mail the check to temple address or drop it in the temple in your next visit.</p>
    <p>Sri Datta Sai Mandir
      <br/>1901 San Ramon Valley Blvd<br/>
      San Ramon CA 94583</p> -->
      
  </nb-card-body>
</nb-card>