

<div class="row">
  <div class="col-md-6">
    <nb-card>
      <!-- <nb-card-header>Using the Grid</nb-card-header> -->
      <nb-card-body>
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="inputName" class="label col-sm-3 col-form-label">Full Name​</label>
            <div class="col-sm-9" >
              <input formControlName="inputName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.inputName.errors }" type="text" nbInput fullWidth id="inputName" placeholder="Full Name">
              <div *ngIf="submitted && f.inputName.errors" class="invalid-feedback">
                <div style="color: darkorange;" *ngIf="f.inputName.errors.required">Full Name is required</div>
            </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">Email​</label>
            <div class="col-sm-9">
              <input formControlName="inputEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.inputEmail.errors }"  type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
              <div *ngIf="submitted && f.inputEmail.errors" class="invalid-feedback">
                <div style="color: darkorange;" *ngIf="f.inputEmail.errors.required">Email​ is required</div>
            </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Feedback" class="label col-sm-3 col-form-label">Feedback​</label>
            <div class="col-sm-9">
              <textarea formControlName="inputdesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.inputdesc.errors }" rows="5" nbInput fullWidth id="Feedback" shape="round"  placeholder="Feedback"></textarea>
              <div *ngIf="submitted && f.inputdesc.errors" class="invalid-feedback">
                <div style="color: darkorange;" *ngIf="f.inputdesc.errors.required">Feedback​ is required</div>
            </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Feedback" class="label col-sm-3 col-form-label">&nbsp;</label>
            <div class="col-sm-9">
              
                <button  nbButton status="warning" type="sybmit"  class="btn btn-default">Submit</button>
            </div>
          </div>
         
        </form>
      </nb-card-body>
    </nb-card>

   
  </div>


</div>
