<nb-card>
  

  <nb-card-body>
  <nb-card>
        <table style="width: 100%;">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
             
            </tr>
            

          </thead>
          <tbody>
            <tr>
              <td> Brahma Shri Marepalli Naga Venkata Shastri</td>
              <td> Shravan Siramdas</td>
            </tr>
            <tr>
              <td>Board Member</td>
              <td>Board Member</td>

            </tr>
            <tr>
              <td> Cell Phone: (510) 673 7938   Home Phone: (408) 586 9527</td>
              <td>Cell Phone: (510) 673 6391</td>
              
            </tr>
            <tr>
              <td> Email :  dattasaitemple@gmail.com</td>
              <td>Email : shravan.dattasai@gmail.com</td>
             
            </tr>
          </tbody>
        </table>
    </nb-card>
  </nb-card-body>
</nb-card>
<!-- 
<embed src="assets/images/Calendar2020.pdf" type="application/pdf" width="100%"/> -->